.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.WalletStyle {
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  background: url(./images/photo-1504788363733-507549153474.png) no-repeat; 
  /* background-color: rgb(59, 59, 59); */
  background-size: cover;
  height: 100%;
  z-index: 1000;
}
.WalletStyle2 {
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  /* background: url(./images/644191_960b6.gif);  */
  transition: 2s;
  display: flex;
  flex-direction: row;
  /* background-color: rgb(59, 59, 59); */
  height: 100%;
  z-index: 99;
  pointer-events: none;
  overflow: hidden;
}


.WalletStyleBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 999;

}
.quackDuck {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
}
.grain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 101;
  opacity: 0.5;
}
.ellips {
  opacity: 0;
}
